# Server
PORT=3000
LOG_LEVELS=verbose,debug,log,warn,error,fatal

# WebSocket
WS_CORS_ORIGIN=*

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MESSAGE_QUEUE=ws_messages
