PORT=3000
LOG_LEVELS=verbose,debug,log,warn,error,fatal
WS_CORS_ORIGIN=*
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=message.exchange
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_ROUTING_KEY=routing-message-live-chat-service
RABBITMQ_MESSAGE_QUEUE=live-chat-service-queue
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=40010
MEDIASOUP_ANNOUNCED_IP=192.168.1.42
JWT_SECRET=dev-secret-dev-secret-dev-secret-32chars