# Server
PORT=3000
LOG_LEVELS=verbose,debug,log,warn,error,fatal

# WebSocket
WS_CORS_ORIGIN=*

# Auth
# This is a dummy secret used by the voice-chat-smoke.ts script
JWT_SECRET=mZBtEL2Y6EG8lCUnW76ErMLubJIS2KB9zveipYSaWiz

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=message.exchange
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_ROUTING_KEY=routing-message-live-chat-service
RABBITMQ_MESSAGE_QUEUE=live-chat-service-queue

# MediaSoup
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=57000
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
MEDIASOUP_ANNOUNCED_PORT=3000
